.in-game__target-score {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    margin: 4rem auto;
    border-radius: 0.5rem;
    max-height: 30rem;
    box-shadow: 0 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.5);


    &-row.end, &-row.start {
        background-color: var(--color-neutral-light);
        height: 1.5rem;
    }
    &-row.start {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    &-row.end {
        border-radius: 0 0 0.5rem 0.5rem;
    }

    &-setter {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        overflow: auto;

        .in-game__target-score-row {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            border: 2px solid #a94d19;
            border-radius: 0.5rem;
            padding-block: 0.5rem;
            font-size: 1.3rem;
            
            .in-game__player-ids {
                display: grid;
                grid-template-columns: 1fr 2fr 3fr;
                padding: 0.25rem 1rem;
                .in-game__target-score-player {
                    letter-spacing: 0.2rem;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                }
                .in-game__target-score-id, .in-game__player-score {
                    font-size: 0.9rem;
                    line-height: 0.9;
                }

                .in-game__target-score-id {
                    align-self: center;
                }
                .in-game__player-score {
                    display: flex;
                    align-items: flex-end;
                    gap: 1.5rem;
                    padding-inline-start: 1.5rem;
                    span {
                        font-size: 1.5rem;
                    }
                }
            }

            .in-game__target-score-buttons {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                gap: 0.3rem;
                padding-inline: 0.5rem;
                .in-game__target-score-btn {
                    background-color: rgba(11, 22, 3, 0.5);
                    border-radius: 0.5rem;
                    border: 2px solid transparent;
                }
                .in-game__target-score-btn.selected[value="10"] {
                    background-color: rgba(98, 191, 100, 0.3);
                    border: 2px solid var(--color-primary);
                    color: var(--color-neutral-light);
                    box-shadow: 0 0 0.5rem 1px rgba(98, 191, 100, 0.5);
                }
                    .in-game__target-score-btn.selected[value="8"] {
                    background-color: rgba(255, 225, 105, 0.3);
                    border: 2px solid rgb(255, 225, 105);
                    color: var(--color-neutral-light);
                    box-shadow: 0 0 0.5rem 1px rgba(255, 225, 105, 0.5);
                }
                    .in-game__target-score-btn.selected[value="5"] {
                    background-color: rgba(18, 64, 181, 0.4);
                    border: 2px solid rgb(18, 64, 181);
                    color: var(--color-neutral-light);
                    box-shadow: 0 0 0.5rem 1px rgba(18, 64, 181, 0.5);
                }
                    .in-game__target-score-btn.selected[value="3"] {
                    background-color: rgb(219, 0, 0, 0.3);
                    border: 2px solid rgb(184, 19, 19);
                    color: var(--color-neutral-light);
                    box-shadow: 0 0 0.5rem 1px rgb(219, 0, 0, 0.5);
                }
                    .in-game__target-score-btn.selected[value="0"] {
                    background-color: rgba(255, 255, 255, 0.3);
                    border: 2px solid white;
                    color: black;
                    box-shadow: 0 0 0.5rem 1px rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
    &-setter::-webkit-scrollbar {
        display: none;
        width: 0;
    }
}
