@use "../../../abstracts" as *;

.lab__practice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    width: 90%;
    box-shadow: 1px 0 0 0 var(--color-neutral-light),   /* right */
               -1px 0 0 0 var(--color-neutral-light),   /* left */
                0 1px 0 0 var(--color-neutral-light); 
    border-radius: 0.5rem;
    margin-inline: auto;

    &-header { 
        width: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: var(--color-neutral-light);
        text-align: left;
        padding-inline-start: 1rem;
        letter-spacing: 0.2rem;

        &-par {
            font-size: 1.5rem;
        }
    }

    &-setting {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        

        fieldset {
            border-radius: 0.5rem;
            

            legend { 
                background-color: var(--color-neutral-light);
                padding-inline: 1rem;
                border-radius: 0.5rem;
                margin-inline: 1.5rem;
                font-size: 1.1rem;
            }

        }

        &-shots-amount, &-distance {

            &-ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                padding-inline: 1rem;
                @include radio-input;
                
            }

            li {
                display: flex;
                gap: 0.5rem
            }

            label {
                font-size: 1.2rem;
            }

            input[type="number"] {
                width: 4rem;
            }

            
                
            
            
        }

        &-shots-amount {

            &-ul {
                padding-block: 1rem;
            }
            
        }

        &-distance {

            &-ul {
                gap: 0.5rem;
                padding-block: 0.5rem;
            }

            &-li__custom { 
                position: relative;

                span {
                    position: absolute;
                    right: 0.2rem;
                }
            }
        }

        &-scoring-system {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding-block: 0.5rem;
            
            p {
                font-size: 1.3rem;
                width: 50%;
                padding-block: 0.5rem;
                text-align: center;
                line-height: 1.2rem;
                background-color: rgba(0, 0, 0, 0.263);
                
            }
            button {
                letter-spacing: 0.1em;
                width: 7rem;
                height: 2.5rem;
                border: 2px solid var(--color-primary);
                background-image: linear-gradient(to bottom, rgb(183, 198, 183), rgb(98, 191, 100) 40%);
                background-color: var(--color-neutral-light);
            }
        }
    }

    &-button {
        @include button-primary-big;
        margin-block-end: 1rem;

        
    }
    &-button::after {
        @include button-shine;
    }
}