:root {
    --color-primary: rgb(98, 191, 100);
    --color-neutral: rgb(223, 193, 153);
    --color-neautral-dark: #132407;
    --color-neutral-light: #f4ebeb;
    --color-accent-light: rgb(201, 182, 182);
    --orange500: rgb(255, 150, 84);


}